body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);
  min-height: 100vh; /* Garante que o corpo tenha pelo menos a altura da janela de visualização */
  position: relative; /* Define a posição relativa para o corpo */
}


footer {
  text-align: center;
  height: 5rem;
  display: flexbox;
  align-items: center;
  background-color: #000;
  color: white;
  position: absolute; /* Define a posição absoluta para o rodapé */
  bottom: 0; /* Fixa o rodapé na parte inferior */
  width: 100%; /* Define a largura total para o rodapé */
}


/* Adiciona uma área com a mesma cor abaixo do footer */
body::after {
  display: block;
  height: 4rem; /* A mesma altura do footer */
  width: 100%;
  background-color: #000;
  position: absolute;
  bottom: -4rem; /* Posiciona a área abaixo do footer */
  left: 0;
 /* Coloca a área abaixo do rodapé */
}

    main{
      padding-bottom: 100px;
    }


/*DEBUG FOOTER /\ */


.cor{
  background-color: #2288b4;
}


header {
  background-color: #2288;
  background-color: #000000;
  color: #ffffff;
  align-items: center; /* Alinha verticalmente os itens ao centro */
  text-align: center; /* Centraliza o texto dentro do cabeçalho */
}


.site {
  background-color: white;
  margin-left: 20%;
  margin-right: 20%;
  padding: 10px;
  padding-left: 25px;
}

.logo-wrapper {
  display: flexbox;
  align-items: center;
}

.logo-topo {
  width: 400px;
  height: auto;
  margin-right: 90px; /* Adiciona margem à direita da logo */
  margin-left: 10px; /* Adiciona margem à direita da logo */
  margin-top: 25px; /* Adiciona margem ao topo da logo */
}

h1 {
  margin: 10px; /* Adiciona margem de 10px nas laterais do título */
}

nav {
  clear: both;
  margin-top: 5px;
  text-align: center; /* Centraliza o texto dentro do elemento <nav> */
  background-color: #000; /* Cor de fundo do menu */
}

nav ul {
  display: inline-block; /* Define o elemento <ul> como um bloco inline */
}

nav ul li {
  display: inline; /* Define os itens da lista como inline para que fiquem lado a lado */
  margin-right: 50px;
}

nav ul li:last-child {
  margin-right:11px; /* Remove a margem à direita do último item da lista para evitar espaçamento extra */
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}






/*repsonsivity*/

/* Estilos para telas maiores que 768px (tamanho de tablet e desktop) */
@media screen and (min-width: 768px) {
  body {
    font-size: 16px; /* Ajuste o tamanho da fonte para telas maiores */
  }
}

/* Estilos para telas menores que 768px (tamanho de tablet e celular) */
@media screen and (max-width: 768px) {
  header {
    padding: 10px; /* Reduza o preenchimento do cabeçalho */
  }

  nav ul li {
    display: block; /* Altere a exibição para blocos para empilhar os itens de navegação */
    margin-bottom: 10px; /* Adicione um espaçamento inferior entre os itens de navegação */
  }

  main {
    padding: 10px; /* Reduza o preenchimento do conteúdo principal */
  }

  footer {
    padding: 5px 10px; /* Reduza o preenchimento do rodapé */
  }
}
